<!-- app.component.html -->

<div class="main">
  <div class="section census">

    <h4> Age Demographics</h4>
    <table>
      <tr>
        <td>
            <p>Select your age range</p>
            <div class="option-list" *ngIf="options.length > 0">
              <button
                 class="option"
                 *ngFor="let option of options; index as i"
                 (click)="takeVote(i)"
                 [ngClass]="{selected: option.selected}"
                 [disabled]="selectedOption && selectedOption !== option.value">
                <i class="fas fa-check" *ngIf="option.selected"></i>
                {{ option.value }}
              </button>

              <p class="error"> {{ message }}</p>
            </div>
        </td>
        <td>

            <div class="section data" *ngIf="censusDataFound">
              <!-- include the chart component here -->
              <app-charts
                 [censusData]="censusData"
                 (newEntry)="onNewEntry($event)">
              </app-charts>
            </div>
        </td>
      </tr>
    </table>
  </div>
</div>
